---
import { NotionAPI } from 'notion-client';
import { NotionRenderer } from 'react-notion-x';
import { Code } from 'react-notion-x/build/third-party/code';
import { Collection } from 'react-notion-x/build/third-party/collection';
import pageCode from '@/components/RequestResponseRender.astro?raw';
import 'react-notion-x/src/styles.css';
import 'prismjs/themes/prism-tomorrow.css';
import { Code as CodeComponent } from 'astro:components';

const { pageId, image } = Astro.props;

const notion = new NotionAPI();
const recordMap = await notion.getPage(pageId);
---

<div class="w-full">
  <div class="flex flex-row gap-8">
    <div>GET</div>
    <div>{pageId}</div>
  </div>
  <div class="flex flex-row gap-8">
    <div>
      <h3>Notion Screenshot</h3>
      <div id="image-of-notion">
        <img class="mt-0 max-h-full rounded border border-gray-400" src={image} />
      </div>
    </div>
    <div class="max-w-2/3 flex-1">
      <h3>React-Notion-X</h3>
      <NotionRenderer
        className="rounded border border-gray-400"
        recordMap={recordMap}
        fullPage={true}
        darkMode={false}
        components={{
          Code,
          Collection,
        }}
      />
    </div>
  </div>
  <div>
    <h3>This page's code</h3>
    <CodeComponent theme="dracula" lang="astro" code={pageCode} />
  </div>
  <div>
    <h3>Notion Page Record Map</h3>
    <CodeComponent theme="dracula" lang="json" code={JSON.stringify(recordMap, null, 2)} />
  </div>
</div>
<script src="@/scripts/imageHeight.js"></script>
